:root {
  --back: #FFF;
  --one: #005815;
  --one-alt: #008d34;
  --two: #4C0070;
  --two-alt: #8A00C8;
  --three: #C24E00;
  --three-alt: #E26D00;
  --four: #009975;
  --four-alt: #00DBA8;

  --section-height: max(35vh, 250px);

  --a-expanded-height: min(100vh, 500px);
  --b-expanded-height: min(100vh, 500px);
  --c-expanded-height: min(100vh, 500px);
  --d-expanded-height: min(100vh, 500px);
  --e-expanded-height: min(100vh, 500px);

  --line-width: 16px;
  --page-width: min(calc(100vw - 168px), 90vw);

  --font-size-h1: 5rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
}

.items-center {
  justify-content: center !important;
}

html, body {
  background: var(--back);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  min-width: 503px;
}

html {
  border-right: 1px solid black;
  overflow: hidden;
}

ul {
  list-style-type: none;
  opacity: 1;
}

li {
  font-size: 28px;
  font-weight: 200;
  line-height: 40px;
  margin: 3px;
  margin-bottom: 6px;
  padding: 4px;
  border-radius: 4px;

  transition: border 1s ease-in-out;
}

.sec-b li {
  border: 1px solid var(--one-alt);
}

.sec-c li {
  border: 1px solid var(--two-alt);
}

section:not(.expanded) {
  overflow-y: hidden;
}

section.expanded {
  overflow-y: auto;
}

section.expanded.sec-b li:hover {
  font-size: 32px;
  cursor: pointer;
  background-color: var(--one-alt);
}

section.expanded.sec-c li:hover {
  font-weight: 400;
  cursor: pointer;
  background-color: var(--two-alt);
}

.sec-d input, .sec-d textarea{
  background-color: var(--three-alt);
  font-size: 28px;
  font-weight: 200;
  line-height: 40px;
  border: 1px solid white;
  padding: 4px;
  border-radius: 4px;
  color: white;
  width: min(50%, 500px);

  opacity: 0 !important;

  -moz-user-select: text;
  user-select: text;

  transition: opacity 1s ease-in-out, height 1s ease-in-out;
}

* {
  opacity: 0;
	margin: 0;
	padding: 0;
  box-sizing: border-box !important;
  font-family: 'Poppins', sans-serif;
  scrollbar-color: white black;
  scrollbar-width: thin;
  -moz-user-select: none;
  user-select: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  flex-basis: 100%;
  padding: 8px;
}

.col-25 {
  flex-basis: 25%;
}

.col-75 {
  flex-basis: 75%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.border-sides {
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  border-color: black;

  transition: border-color 1s ease-in-out;
}

.social-row {
  margin-top: 40px;
}

section.expanded a img {
  opacity: 0.66 !important;
}

a {
  text-decoration: none;
  color: black;
}

.social-popout {
  position: relative;
  opacity: 0 !important;
  top: 30px;
  font-size: 1px;
  line-height: 0;
  color: white;

  transition: top 0.25s ease-in-out, font-size 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

a img {
  width: 64px;
  height: 64px;
  box-shadow: 0px 0px 10px black;
  border-radius: 14px;
  margin-right: 16px;
  margin-left: 16px;
  opacity: 0.0 !important;
  transform: scale(1);

  filter: invert();

  transition: transform 0.25s ease-in-out, margin-left 0.25s ease-in-out, margin-right 0.25s ease-in-out, opacity 1s ease-in-out;
}

section.expanded a:hover img {
  margin-right: 32px;
  margin-left: 32px;
  opacity: 1 !important;
  cursor: pointer;
  transform: scale(1.2);
}

a:hover .social-popout {
  opacity: 1 !important;
  top: 100px;
  font-size: 32px;
}

section:not(.expanded) .border-sides {
  border-color: transparent;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/materialicons.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

#page {
  z-index: 1000;
  text-align: center;
  margin: 0 auto;
  width: var(--page-width);
  min-width: 503px;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 400;
  line-height: 80px;
  margin-top: 10px;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 60px;
  font-weight: 300;
  text-align: inherit;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 300;
  line-height: 60px;
}

section {
  z-index: 100;
  width: 100%;
  padding: 16px;
  height: var(--section-height);

  overflow-x: hidden;

  position: sticky;
  top: 0px;

  transition: height 1s ease-in-out, padding 1s ease-in-out;
}

.sec-expanded {
  height: 0px;
  color: var(--back);
  transition: color 1s ease-in-out, height 1s ease-in-out;
}

section:not(.expanded) > .sec-expanded li {
  border: 1px solid transparent;
}

section.expanded > .sec-expanded {
  height: max-content;
  color: black;
}

section.expanded input, section.expanded textarea {
  opacity: 1 !important;
}

.invert .text-preview {
  color: rgba(255, 255, 255, 0.4) !important;
}

.text-preview {
  color: rgba(0, 0, 0, 0.4) !important;
}

.full-bleed {
  background-color: transparent;
  color: var(--back);
  box-shadow: 0 0 0 100vmax transparent;
  clip-path: inset(-8px -100vmax);
}

.sec-a {
  color: black;
  background-color: var(--back);
  box-shadow: 0 0 0 100vmax var(--back);
  border-left: 1px dashed black;
  border-right: 1px dashed black;

  scrollbar-color: #ddd black;
  scrollbar-width: thin;
}

.sec-a.expanded {
  height: var(--a-expanded-height);
}

.sec-b {
  background-color: var(--one);
  box-shadow: 0 0 0 100vmax var(--one);
  border-left: 1px dashed white;
  border-right: 1px dashed white;

  scrollbar-color: var(--one-alt) black;
  scrollbar-width: thin;
}

.sec-b > .sec-expanded > * {
  color: var(--one);
  transition: color 1s ease-in-out;
}

.sec-b.expanded > .sec-expanded > * {
  color: var(--back);
}

.sec-b.expanded {
  height: var(--b-expanded-height);
}

.sec-c {
  background-color: var(--two);
  box-shadow: 0 0 0 100vmax var(--two);
  border-left: 1px dashed white;
  border-right: 1px dashed white;

  scrollbar-color: var(--two-alt) black;
  scrollbar-width: thin;
}

.sec-c > .sec-expanded > * {
  color: var(--two);
  transition: color 1s ease-in-out
}

.sec-c.expanded > .sec-expanded > * {
  color: var(--back);
}

.sec-c.expanded {
  height: var(--c-expanded-height);
}

.sec-d {
  background-color: var(--three);
  box-shadow: 0 0 0 100vmax var(--three);
  border-left: 1px dashed white;
  border-right: 1px dashed white;

  scrollbar-color: var(--three-alt) black;
  scrollbar-width: thin;
}

.sec-d > .sec-expanded > * {
  color: var(--three);
  transition: color 1s ease-in-out
}

.sec-d.expanded > .sec-expanded > * {
  color: var(--back);
}

.sec-d.expanded {
  height: var(--d-expanded-height);
}

.sec-e {
  background-color: var(--four);
  box-shadow: 0 0 0 100vmax var(--four);
  border-left: 1px dashed white;
  border-right: 1px dashed white;

  scrollbar-color: var(--four-alt) black;
  scrollbar-width: thin;
}

.sec-e > .sec-expanded > * {
  color: var(--four);
  transition: color 1s ease-in-out
}

.sec-e.expanded > .sec-expanded > * {
  color: var(--back);
}

.sec-e.expanded {
  height: var(--e-expanded-height);
}

.sec-e .border-sides {
  border-left: 1px dashed white;
  border-right: 1px dashed white;
}

.piz {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: var(--line-width);
  z-index: 1300;

  transition: width 1s ease-in-out, left 1s ease-in-out;
}

#piz-b {
  background-color: var(--one);
  left: calc(var(--line-width) * 3);
}

#piz-c {
  background-color: var(--two);
  left: calc(var(--line-width) * 2);
}

#piz-d {
  background-color: var(--three);
  left: calc(var(--line-width) * 1);
}

#piz-e {
  background-color: var(--four);
  left: 0px;
}

@media only screen and (min-width: 1px) and (max-width : 480px) {
  :root {
    --line-width: 4px;
    --page-width: min(calc(100vw - 48px));
  }

  h3 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 200px;
    float: left;
    flex-grow: 1;
    text-align: center;
  }

  .flex-row {
    flex-wrap: wrap;
  }

  .col {
    min-width: 100% !important;
  }

  section {
    padding: 0px;
    padding-left: calc(var(--line-width) * 4);
    padding-right: calc(var(--line-width) * 4);
  }

  .hide-xs {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width : 640px) {
  :root {
    --line-width: 6px;
    --page-width: min(calc(100vw - 66px));
  }

  h3 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 200px;
    float: left;
    flex-grow: 1;
    text-align: center;
  }

  .flex-row {
    flex-wrap: wrap;
  }

  .col {
    min-width: 100% !important;
  }

  section {
    padding: 4px;
  }

  .hide-s {
    display: none;
  }
}

@media only screen and (min-width: 641px) and (max-width : 961px) {
  :root {
    --line-width: 8px;
    --page-width: min(calc(100vw - 88px));
  }

  h3 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 200px;
    float: left;
    flex-grow: 1;
    text-align: center;
  }

  .flex-row {
    flex-wrap: wrap;
  }

  .col {
    min-width: 100% !important;
  }

  section {
    padding: 8px;
  }

  .hide-m {
    display: none;
  }
}