@media only screen and (max-width: 900px) {
  #sidebar, #selected-item-col, #selected-hero-col, #stats-col, #footer
  {
    display: none !important;
  }

  .page-content {
    height: calc(100vh - 128px);
  }

  .page-content > * {
    margin: 0;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid black;
  }

  #selected-item-col, #items-col {
    grid-area: 1 / 1 / 4 / 3;
  }

  #heroes-col, #selected-hero-col #stats-col {
    grid-area: 1 / 1 / 4 / 4;
  }

  .page-content {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  #page-landing {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .fancy-header > * {
    font-size: 26px;
  }

  .landing-guide h4 {
    font-size: 18px;
  }

  .landing-guide button h1 {
    font-size: 22px;
  }

  #mobile-navbar h1 {
    font-size: 36px;
    align-content: center;
  }

  img.logo {
    width: 100%;
    max-width: 64px;
    margin: auto;
  }

  #mobile-navbar, #mobile-sidebar {display: flex;}
  #desktop-navbar, #desktop-sidebar {display: none;}
}

@media only screen and (min-width: 901px) {
  #mobile-navbar, #mobile-sidebar {display: none;}
}

@media only screen and (min-width: 1200px) {

} 