/* Created by Nicolai Krechel, 2021, rewind1337.github.io */

/*                                         */
/*      THE THING THAT ENABLES IT ALL      */
/*                                         */

.gradient {
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*                            */
/*      GRADIENT COLORS       */
/*                            */

.gradient-blue {
  background-image: linear-gradient(to right bottom, rgb(76, 73, 255), rgb(0, 165, 255), rgb(65, 255, 165));
}

.gradient-orange {
  background-image: linear-gradient(to right bottom, rgb(255, 44, 0), rgb(255, 165, 0), rgb(255, 123, 0));
}

.gradient-green {
  background-image: linear-gradient(to right bottom, rgb(0, 255, 0), rgb(165, 255, 0), rgb(0, 255, 255));
}

.gradient-pink {
  background-image: linear-gradient(to right bottom, rgb(195, 30, 255), rgb(255, 30, 242), rgb(216, 30, 180));
}

.gradient-white {
  background-image: linear-gradient(to right bottom, rgb(189, 189, 189), rgb(255, 255, 255), rgb(206, 206, 206));
}

.gradient-black {
  background-image: linear-gradient(to right bottom, rgb(37, 37, 37), rgb(54, 54, 54), rgb(46, 46, 46));
}

.gradient-animated {
  background-repeat: no-repeat;
  background-image: linear-gradient(270deg, #ff5c5c, #ff813a, #5e77ff, #1eccff, #83ff1e, #14d500, #ef57ff, #ff2fae);
  background-size: 1600% 1600%;
  background-clip: text !important;

  -moz-animation: RainbowGradient 20s ease infinite;
  animation: RainbowGradient 20s ease infinite;
}
/*                          */
/*      BUTTON STYLES       */
/*                          */

.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 4px 10px;
  margin: 2px;
  width: auto;
  height: auto;
  text-align: center;
  background-color: rgb(110, 110, 110);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, background-image 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !important;
  margin-bottom: 5px;
}

.btn.btn-transparent {
  background-color: transparent;
}

.btn-dark-gray {
  background-color: rgb(90, 90, 90);
}

.btn-light-gray {
  background-color: rgb(210, 210, 210);
}

.btn-outline {
  border: 1px solid rgb(120, 120, 120);
  background-color: transparent;
}

/*                          */
/*      HOVER EFFECTS       */
/*                          */

.btn.btn-transparent:hover,
.btn.btn-outline:hover,
.btn:hover {
  background-color: rgb(165, 165, 165);
  border-color: rgb(165, 165, 165);
}

.btn.btn-transparent:active,
.btn.btn-outline:active,
.btn:active {
  background-color: rgb(185, 185, 185);
  border-color: rgb(185, 185, 185);
}

.btn.btn-light-gray:hover {
  background-color: rgb(225, 225, 225);
  border-color: rgb(225, 225, 225);
}

.btn.btn-light-gray:active {
  background-color: rgb(240, 240, 240);
  border-color: rgb(240, 240, 240);
}

.btn.btn-dark-gray:hover {
  background-color: rgb(115, 115, 115);
  border-color: rgb(115, 115, 115);
}

.btn.btn-dark-gray:active {
  background-color: rgb(130, 130, 130);
  border-color: rgb(130, 130, 130);
}

.btn.gradient-orange:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to right bottom, hsl(10, 100%, 60%), hsl(39, 100%, 60%), hsl(29, 100%, 60%));
}

.btn.gradient-blue:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to right bottom, hsl(241, 100%, 74%), hsl(201, 100%, 60%), hsl(152, 100%, 73%));
}

.btn.gradient-green:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to right bottom, hsl(120, 100%, 68%), hsl(81, 100%, 68%), hsl(180, 100%, 68%));
}

.btn.gradient-pink:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to right bottom, hsl(284, 100%, 66%), hsl(303, 100%, 66%), hsl(312, 76%, 60%));
}

.btn.gradient-white:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to right bottom, hsl(0, 0%, 84%), hsl(0, 0%, 100%), hsl(0, 0%, 90%));
}

.btn.gradient-black:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right bottom, hsl(0, 0%, 8%), hsl(0, 0%, 13%), hsl(0, 0%, 11%));
}

/*                          */
/*      BORDER STYLES       */
/*                          */

.btn.border-sharp {
  border-radius: 0px;
}

.btn.border-round {
  border-radius: 16px;
}

.btn.border-tlbr {
  border-radius: 4px 12px 4px 12px;
}

.btn.border-trbl {
  border-radius: 12px 4px 12px 4px;
}

.btn.border-pill {
  border-radius: 100%;
}

/*                      */
/*      TEXT STYLES     */
/*                      */

span.uppercase {
  text-transform: uppercase;
}

span.lowercase {
  text-transform: lowercase;
}

span.fullwidth {
  text-transform: full-width;
}

span.monospace {
  font-family: "Courier New", Courier, monospace !important;
  font-weight: bold !important;
  font-size: 24px;
}

span.gradient {
  font-size: 22px;
  font-weight: 500;
}

span.gradient-xs {
  font-size: 12px;
  font-weight: 500;
}

span.gradient-sm {
  font-size: 17px;
  font-weight: 500;
}

span.gradient-lg {
  font-size: 28px;
  font-weight: 500;
}

span.gradient-xl {
  font-size: 36px;
  font-weight: 500;
}

@-moz-keyframes RainbowGradient {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes RainbowGradient {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}