* {
	margin: 0;
	padding: 0;
  overflow: hidden;
  box-sizing: border-box !important;
  font-family: 'Glory', sans-serif;
  scrollbar-color: #ff9b00 #311b00;
  scrollbar-width: thin;
  -moz-user-select: none;
  user-select: none;
}

canvas {
  cursor: crosshair;
  border: 3px double rgba(0, 0, 0, 0.5);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-vertically {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settings-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

#settings-list {
  width: 100vw;
}

#tool-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

#particle-list {
  width: 50%;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  max-width: 100%;
  flex-grow: 1;
}

/* Special */
.particle[data-type='AIR'] .particle-img {background-color: white;}

/* Powdery */
.particle[data-type='SAND'] .particle-img {background-color: lemonchiffon;}
.particle[data-type='STONE'] .particle-img {background-color: gray;}

/* Liquids */
.particle[data-type='WATER'] .particle-img {background-color: deepskyblue;}
.particle[data-type='LAVA'] .particle-img {background-color: darkred;}

/* Gases */
.particle[data-type='STEAM'] .particle-img {background-color: lightgray;}

/* Solids */
.particle[data-type='WALL'] .particle-img {background-color: hsl(0deg, 0%, 10%);}
.particle[data-type='WALL'] .particle-text {color: white;}

.particle {
  padding: 2px;
  height: 58px;
}

.particle-img {
  height: 54px;
  width: 54px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  align-content: center;
  display: flex;
}

.particle-text {
  width: 100%;
  text-align: center;
  align-self: center;
}

.particle:hover .particle-img {
  border-width: 4px;
}

.particle.selected .particle-img {
  border: 4px solid black;
  animation: rainbowSelection 5s linear infinite;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/materialicons.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

@keyframes rainbowSelection {
  0% {
    border-color: hsl(0deg, 100%, 50%);
    text-shadow: 1px 1px hsl(0deg, 100%, 50%);
  }
  20% {
    border-color: hsl(90deg, 100%, 50%);
    text-shadow: -1px 1px hsl(90deg, 100%, 50%);
  }
  50% {
    border-color: hsl(180deg, 100%, 50%);
    text-shadow: -1px -1px hsl(180deg, 100%, 50%);
  }
  75% {
    border-color: hsl(270deg, 100%, 50%);
    text-shadow: 1px -1px hsl(270deg, 100%, 50%);
  }
  100% {
    border-color: hsl(360deg, 100%, 50%);
    text-shadow: 1px 1px hsl(360deg, 100%, 50%);
  }
}