* {
	margin: 0;
	padding: 0;
  overflow: hidden;
  box-sizing: border-box !important;
  font-family: 'Silkscreen', cursive;
  scrollbar-color: #ff9b00 #311b00;
  scrollbar-width: thin;
  -moz-user-select: none;
  user-select: none;
}

canvas {
  cursor: crosshair;
  border: 3px double rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 36px black;
  margin-top: 8px;
  margin-bottom: 32px;

  opacity: 0;
}

html, body {
  background-color: rgb(40, 40, 40);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fade-in-at-start {
  opacity: 0;
}

.center-vertically {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settings-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 6px;
  box-shadow: 0 0 12px black;
  background: repeating-linear-gradient(
    45deg,
    #fafafa,
    #fafafa 10px,
    #eaeaea 10px,
    #eaeaea 20px
  );
}

#settings-list {
  width: 100vw;
}

.settings-text {
  font-size: 18px;
}

.progress-bar {
  width: 50%;
  height: 9px;
  border-radius: 3px;
  border: 1px solid white;
  padding: 2px;
}

#loader-bar {
  width: 0%;
  height: 100%;
  background-color: white;
  margin-bottom: 2px;

  transition: width 0.05s linear;
}

select {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 2px;
}

input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 2px;
  -moz-user-select: text !important;
  user-select: text !important;
}

select, input {
  width: 100%;
  min-width: 70px;
  max-width: 130px;
  margin-inline: auto;
}

textarea {
  width: 100%;
  margin-inline: auto;
  resize: none;
  background-color: white;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 6px;
}

select:focus, input[type='number']:focus, textarea:focus {
  animation: rainbowFocus 5s linear infinite;
}

input[type='checkbox'] {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-bottom: 4px;
}

input[type='checkbox']:focus {
  animation: rainbowShadow 5s linear infinite;
}

#tooltip {
  display: none;
  opacity: 0;

  position: absolute;
  top: -10000px;
  left: -10000px;
  transform: translate(-50%, 0px);
  max-width: 400px;

  text-align: center;

  padding: 12px;
  border: 1px solid white;
  box-shadow: 0 0 36px black;
  border-radius: 4px;
  background-color: white;

  z-index: 2000;
}

#settings-row {
  flex-wrap: nowrap;
}

#controls-col {
  align-content: center;
  width: 300px;
  flex-basis: 300px;
}

#controls-wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}

.control-button {
  width: 60px;
}

.control-button .material-icons {
  padding-top: 4px;
  line-height: 24px;
  font-size: 30px !important;
}

#file-bar {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%, 0);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;

  opacity: 0;

  display: none;
}

.modal-content {
  width: 600px;
  margin-inline: auto;
  margin-top: 100px;
  padding: 32px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 0 24px black;
}

.modal-header {
  font-size: 32px;
}

.modal-text {
  font-size: 14px;
  color: gray;
  margin-bottom: 8px;
}

.modal-button {
  padding: 4px;
  width: 100%;
}

.modal-footer {
  width: 100%;
  display: flex;
}

#tool-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px black;
  padding: 2px;
  background: repeating-linear-gradient(
    45deg,
    #eee,
    #eee 10px,
    #ddd 10px,
    #ddd 20px
  );
  z-index: 100;
}

#particle-list {
  width: 100%;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row:not(:first-child) {
  margin-top: 2px;
  border-top: 1px solid black;
  padding-top: 4px;
}

.col {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

/* Special */
.particle[data-type='AIR'] .particle-img {background-color: white;}

/* Powders */
.particle[data-type='SAND'] .particle-img {background-color: lemonchiffon;}
.particle[data-type='STONE'] .particle-img {background-color: gray;}

/* Liquids */
.particle[data-type='WATER'] .particle-img {background-color: deepskyblue;}
.particle[data-type='LAVA'] .particle-img {background-color: darkred;}
.particle[data-type='ACID'] .particle-img {background-color: hsl(120deg, 100%, 42%);}

/* Gases */
.particle[data-type='STEAM'] .particle-img {background-color: lightgray;}

/* Solids */
.particle[data-type='WALL'] .particle-img {background-color: hsl(0deg, 0%, 10%);}
.particle[data-type='WALL'] .particle-text {color: white;}

.particle {
  padding: 2px;
  height: 58px;
  z-index: 110;
} 

.particle-img {
  height: 54px;
  width: 54px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  align-content: center;
  display: flex;

  transition: border-width 0.2s ease;
}

.particle-text {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 12px;
}

.particle:not(.particle-wip):hover .particle-img {
  border-width: 4px;
  cursor: pointer;
}

.particle.selected .particle-img {
  border: 4px solid black;
  animation: rainbowSelection 5s linear infinite;
}

.particle.particle-wip .particle-img{
  filter: blur(1px);
}

.particle.particle-wip::before {
  content: "wip";
  font-size: 10px;
  color: darkslategray;
  position: relative;
  left: 33%;
}

.particle-break {
  font-family: "Lucida Console", Courier, monospace;
  transform: rotate(-90deg) translate(0, 10px);
  font-size: 12px;
  padding-top: 25px;
  border-top: 1px solid black;
  z-index: 10;
}

#debug-info {
  display: flex;
  width: 800px;
}

.debug-text {
  font-size: 18px;
  text-align: center;
  color: white;
  flex-basis: 100%;
}

#title-text {
  font-size: 24px;
  border-bottom: 1px solid white;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/materialicons.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

@keyframes rainbowSelection {
  0% {
    border-color: hsl(0deg, 100%, 50%);
    text-shadow: 1px 1px hsl(0deg, 100%, 50%);
  }
  20% {
    border-color: hsl(90deg, 100%, 50%);
    text-shadow: -1px 1px hsl(90deg, 100%, 50%);
  }
  50% {
    border-color: hsl(180deg, 100%, 50%);
    text-shadow: -1px -1px hsl(180deg, 100%, 50%);
  }
  75% {
    border-color: hsl(270deg, 100%, 50%);
    text-shadow: 1px -1px hsl(270deg, 100%, 50%);
  }
  100% {
    border-color: hsl(360deg, 100%, 50%);
    text-shadow: 1px 1px hsl(360deg, 100%, 50%);
  }
}

@keyframes rainbowFocus {
  0% {outline: 2px solid hsl(0deg, 100%, 50%);}
  20% {outline: 2px solid hsl(90deg, 100%, 50%);}
  50% {outline: 2px solid hsl(180deg, 100%, 50%);}
  75% {outline: 2px solid hsl(270deg, 100%, 50%);}
  100% {outline: 2px solid hsl(360deg, 100%, 50%);}
}

@keyframes rainbowShadow {
  0% {box-shadow: -2px -2px 2px 0px hsl(0deg, 100%, 50%);}
  20% {box-shadow: -2px 2px 2px 0px hsl(90deg, 100%, 50%);}
  50% {box-shadow: 2px 2px 2px 0px hsl(180deg, 100%, 50%);}
  75% {box-shadow: 2px -2px 2px 0px hsl(270deg, 100%, 50%);}
  100% {box-shadow: -2px -2px 2px 0px hsl(360deg, 100%, 50%);}
}